$color-white: white;
$nav-color: #333;
$deep-blue: #0069ff;

@mixin center($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-flow: row wrap;
}

body{
	font-family: 'Assistant', sans-serif;
}

.menu{
	display: flex;
	flex-flow: row wrap;
	height: 80px;
	background-color: $color-white;
	@include center(justify, center);
	color: $nav-color;
	font-size: 16px;
	&.active{
		background-color: $deep-blue;
	}
}

.order{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	/*@include center(justify, center);*/
	background: linear-gradient(180deg,#66a5ff,#0069ff);
	color: $color-white;
	padding-top: 64px;
	padding-bottom: 64px;
	h1{
		font-weight: 300; 
		letter-spacing: 1px;
	}
	.left{
		margin-bottom: 32px;
	}
	.form{
		display: block;
		width: 435px;
	}
	.form-detail{
		width: 100%;
		height: 48px;
		border: 1px solid #fff;
		background: hsla(0,0%,100%,.1);
		font-size: 14px;
		color: $color-white;
	}
	input{
		&::-webkit-input-placeholder{
			color: $color-white;
		}
	}
}

button{
	width: 100%;
	background-color: $color-white;
	color: $deep-blue;
	p{
		font-weight: 300;
		font-size: 10px;
		a{
			text-decoration: none;
			color: $color-white;
			&:hover{
				text-decoration: none;
				color: $deep-blue;
			}
		}
	}
}

.features{
	padding: 96px 0;
}

.section-title{
		font-weight: 300;
		text-align: center;
		margin-bottom: 64px;
	}

.feat-column{
	line-height: 24px;
	img{
		height: 140px;
	}
	.column{
		padding-top: 64px;
		padding-left: 64px;
	}
}

.pricing{
	align-items: center;
	justify-content: center;
	/*@include center(justify, center);*/
	ul{
		list-style: none;
		li{
			margin-top: 16px;
			margin-left: 16px;
			text-transform: uppercase;
			font-weight: 600;
			display: inline;
			a{
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

.carousel{
	img{
		display:block;
		margin:auto;
	}
}

.button{
		width: 260px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		/*@include center(justify, center);*/
	    padding: 0 32px;
	    height: 48px;
		background-color: $deep-blue;
		text-align: center;
		color: $color-white;
		border-radius: 3px;
		margin:auto;
		margin-top: 32px;
}

.under-button{
			font-size: 14px;
			color: #999;
			text-align: center;
			justify-content: center;
			margin-top: 16px;
}

.map-wrap{
	padding-top: 96px;
	img{
		display:block;
		margin:auto;
	}
}

.contributors{
	img{
		display:block;
		margin:auto;
	}
}

/*@media (min-width: 768px){
	body{
		background-color: red;
	}
}*/